node_modules
# Keep environment variables out of version control
.env

/lib/generated/prisma

certificates

# --- Next.js build output ---
.next
out

# --- Local env files ---
.env.local
.env.*.local

# --- macOS ---
.DS_Store
